body{
    font-family: 'Charis SIL', serif;
    background: azure;
    font-size: larger;
}
header{
    text-align: center;
}
.accordion{
    background-color: ghostwhite;
    color: #444;
    padding: 18px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin: 5px 0px;
    font-size: larger;
    font-weight: 700;
}
.accordion:hover, .active{
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion::after{
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin: 5px;
}
.active::after{
    content: "\2796";
}
h2 {
    text-align: center;
    margin: 0;
}
@media (min-width: 500px) {
    .accordion-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
}
@media (min-width: 1050px) {
    .accordion-container {
        grid-template-columns: auto;
    }
    .section-accordion {
        width: 80%;
        margin: 0 auto;
    }
}